<html>
<head>
    <title>My App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to My App</h1>
        <hr>
        <p><a href="{{ url_for('signup') }}">Sign Up</a> | <a href="{{ url_for('signin') }}">Sign In</a></p>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alert alert-info">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>